@import-normalize;

:root {
  --primary-font: 'Manrope', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --primary-color: rgba(18, 20, 23, 1);
  --white-color: rgba(255, 255, 255, 1);
  --blue-color: rgba(52, 112, 255, 1);
  --blue-color-hover: rgba(11, 68, 205, 1);
  --grey-color: rgba(138, 138, 137, 1);
  --grey-transparent-color: rgba(18, 20, 23, 0.5);
  --input-bg: rgba(247, 247, 251, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.active {
  color: white;
  background-color: var(--blue-color-hover);
}
